@model IEnumerable<HelpDeskTCC.Models.Chamados>

    @{
        ViewBag.Title = "Index";
    }


</br>

<p>
    @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-info" }) &nbsp&nbsp&nbsp

    @Html.ActionLink("Em Atendimento", "status_atendidos", null, new { @class = "btn btn-info" }) &nbsp&nbsp&nbsp&nbsp

    @Html.ActionLink("Encerrados", "status_fechado", null, new { @class = "btn btn-info" })

</p></br>

<h4>Aguardando Atendimento</h4></br>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ChamadosId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Descrição)
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prioridade.Nome)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Solicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prazo)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChamadosId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Descrição)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Prioridade.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prazo)
            </td>

            <td>

              
                    @if (User.IsInRole("Administrador") || User.IsInRole("Analista"))
                    {
                        @Html.ActionLink("Atender", "Edit", new { id = item.ChamadosId }, new { @class = "btn btn-info" })
                    }
                    @Html.ActionLink("Excluir", "Delete", new { id = item.ChamadosId }, new { @class = "btn btn-info" })

                </td>
        </tr>
    }

</table>
