@model IEnumerable<HelpDeskTCC.Models.Chamados>
@{
    ViewBag.Title = "status";
}


<table class="table">
    <br />
    <h4>Chamados Encerrados</h4>
    <br />
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChamadosId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Descrição)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dt_Atendimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dt_Encerramento)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChamadosId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Descrição)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prazo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dt_Atendimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dt_Encerramento)
            </td>


            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ChamadosId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Detalhes", "Details", new { id = item.ChamadosId }, new { @class = "btn btn-info" })

            </td>
        </tr>
    }

</table>

